authors/*
author/*
*.bib
*.txt
sitemap.xml
.DS_Store
**/.DS_Store
tag/academic/index.html
tag/academic/page/1/index.html
tag/agile-systems-engineering/index.html
tag/boundary-objects/index.html
tag/deep-learning/index.html
tag/deep-learning/page/1/index.html
tag/design-science/index.html
tag/documentation/index.html
tag/开源/index.html
tag/开源/page/1/index.html
tags/index.html
tag/agile-systems-engineering/index.html
tag/boundary-objects/index.html
tag/design-science/index.html
tag/documentation/index.html
tags/index.html
publication/content/publication/wohlrab-2020-modeling/cite.bib
